@charset "utf-8";
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
    margin:0;
    padding:0
}
body, button, input, select, textarea {
    font:12px/1.5 tahoma, arial, "\5b8b\4f53";
    *line-height:1.5;
    -ms-overflow-style:scrollbar
}
h1, h2, h3, h4, h5, h6 {
    font-size:100%
}
address, cite, dfn, em, var {
    font-style:normal
}
code, kbd, pre, samp {
    font-family:courier new, courier, monospace
}
scow {
    font-size:12px
}
ul, ol {
    list-style:none
}
a {
    text-decoration:none
}
a {
    color: #35a;
}
a:hover {
    text-decoration:underline
}
fieldset, img {
    border: 0;
}
#headerCon {
    width: 1190px;
    margin: 0 auto;
    height: 95px;
    font-family: tahoma,arial,"\5b8b\4f53";
}
#cowLogo {
    float: left;
    z-index: 9;
    padding-top: 28px;
    width: 280px;
    height: 64px;
    line-height: 64px;
    position: relative;
}
#headerCon #cowLogo {
    float:left;
    width:162px;
    padding-top:0;
    line-height:18px;
    position:relative
}
#headerCon #cowLogo .mlogo {
    padding-right:7px;
    float:left;
    padding-top:20px;
    cursor:pointer;
}
#cowLogo a {
    position: relative;
    display: block;
    color: #fff;
    text-indent: 0!important;
}
#cowLogo .mlogo a {
    height: 35px;
    font-size: 22px;
    width: 190px;
    overflow: hidden;
}
#headerCon #cowLogo .mlogo a {
    width: 145px;
}
#cowLogo .mlogo s {
    background: url(../styleImages/logo-142x35.png) 0 0 no-repeat;
    height: 28px;
    width: 190px;
}
#headerCon #cowLogo .mlogo s {
    position: absolute;
    display: block;
    top: 0;
    cursor: pointer;
    text-decoration: none;
    font-size: 145px;
    height: 35px;
    width: 142px;
    overflow: hidden;
}
#shopExtra {
    float: left;
    position: relative;
    padding: 15px 0 0;
    height: 50px;
}
#shopExtra .slogo {
    background: 0 0;
    background-repeat: no-repeat;
    float: left;
    padding: 0 10px;
    height: 38px;
    border-left: 1px solid #f0f0f0;
    width: auto;
    background-position: -174px -30px;
}
#shopExtra .slogo a {
    height: 23px;
    line-height: 19px;
    overflow: hidden;
    background-color: #fff;
    font-size: 12px;
    font-family: "\5b8b\4f53";
    color: #333;
    font-weight: 700;
}

#shopExtra .slogo-extraicon {
    height: 25px;
    width: 80px;
}
.ww-light {
    overflow: hidden;
}
.ww-inline {
    display: inline-block;
    vertical-align: text-bottom;
    cursor: pointer;
}
.ww-light a {
    background-image: url(../styleImages/qqOnline.gif);
    background-repeat: no-repeat;
    text-decoration: none!important;
    width: 74px;
    height: 23px;
    zoom: 1;
}
.ww-static .ww-online {
    background-position: -110px 0;
}

#shop-info {
    position: relative;
    float: left;
    width: 132px;
    height: 38px;
    font-weight: 400;
    padding: 0 10px;
    border-left: 1px dotted #f0f0f0;
}
#shop-info .main-info {
    overflow: hidden;
    position: relative;
}
#shop-info .shopdsr-item {
    float: left;
    color: #999;
    width: 36px;
    height: 36px;
    position: relative;
}
#shop-info .shopdsr-title {
    text-align: center;
    font-family: "\5b8b\4f53";
}
#shop-info .shopdsr-score {
    color: #FDA82B;
    padding-left: 5px;
    height: 18px;
    width: 31px;
    position: relative;
    overflow: hidden;
}
#shop-info .shopdsr-score-equal {
    color: #FDA82B;
    background: 0 0;
    text-decoration: none;
    height: 9px;
    width: 8px;
    right: 2px;
    top: 5px;
    position: absolute;
}
#shop-info .shopdsr-score-up {
    color: #FDA82B;
    background: 0 0;
    text-decoration: none;
    height: 9px;
    width: 8px;
    right: 2px;
    top: 5px;
    position: absolute;
}
#shop-info .shopdsr-score-equal:before {
    content: url(../styleImages/sellerScoreEqual.png);
    font-size: 12px;
    font-family: tm-shop-font;
    position: absolute;
    left: -2px;
    top: -4px;
}
#shop-info .main-info .slogo-triangle {
    float: left;
    display: block;
    _display: inline;
    margin: 0 0 0 14px;
    width: 6px;
    height: 38px;
    position: relative;
}
#shop-info .main-info .slogo-triangle .icon-triangle {
    border-color: #ccc #fff #fff;
    border-style: solid;
    border-width: 4px;
    font-size: 0;
    width: 0;
    height: 0;
    line-height: 0;
    position: absolute;
    right: 0;
    top: 15px;
}

#shop-info .extra-info {
    position: absolute;
    left: -9999px;
    top: -9999px;
    width: 226px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    z-index: 101;
}
.ks-popup-hidden {
    visibility: hidden;
}
#shop-info .extra-info .bd {
    padding: 0 11px;
    float: left;
    width: 91%;
}
#shop-info .shop-rate {
    margin-top: 16px;
    color: #666;
}
#shop-info .shop-rate h4 {
    height: 18px;
    margin: 0 0 10px;
    color: #999;
    font-weight: 400;
}
#shop-info .shop-rate .compare {
    margin-left: 55px;
    font-weight: 400;
    color: #999;
}
#shop-info .shop-rate ul {
    margin-left: 1px;
}
#shop-info .shop-rate li {
    margin: 5px 0 0;
    line-height: 15px;
    color: #959595;
}
#shop-info .shop-rate .count {
    display: inline-block;
    width: 20px;
}
#shop-info b {
    display: inline-block;
    vertical-align: top;
}
#shop-info .shop-rate .rateinfo b {
    height: 9px;
    width: 8px;
    margin: 3px 5px 0 30px;
    background: 0 0;
    font-weight: 400;
    color: #FDA82B;
}
#shop-info .shop-rate .rateinfo b.fair {
    color: #FDA82B;
}
#shop-info .shop-rate .rateinfo b:before {
    content: url(../styleImages/sellerScoreEqual.png);
    font-size: 12px;
    font-family: tm-shop-font;
    position: relative;
    left: -2px;
    top: -4px;
}
#shop-info .shop-rate .rateinfo b.fair:before {
    content: url(../styleImages/sellerScoreEqual.png);
}
#shop-info .shop-rate .rateinfo i {
    display: inline-block;
    font-style: normal;
    color: #999;
}
#shop-info .shop-rate .rateinfo em {
    display: inline-block;
    font-size: 12px;
    color: #999;
    font-weight: 400;
    padding: 0 0 0 5px;
}
#shop-info .shop-rate a:hover {
    text-decoration: none;
}
#shop-info .shop-rate a:hover em {
    text-decoration: underline;
}
#shop-info .extra-info .extend {
    border-top: 1px dotted #DBDBDB;
    border-bottom: 1px dotted #DBDBDB;
    margin-top: 13px;
    padding: 8px 0;
    color: #959595;
}
#shop-info .extra-info .title {
    font-weight: 400;
    height: 18px;
    margin: 5px 0 10px;
}
#shop-info .shop-rate .rateinfo {
    cursor: pointer;
}
#shop-info .extra-info .extend li {
    line-height: 22px;
}
#shop-info .extra-info .extend label {
    float: left;
    width: 60px;
}
#shop-info .extra-info .extend .right {
    margin-left: 59px;
    color: #999;
    position: relative;
    _top: -1px;
}
#shop-info .extra-info .extend .right a {
    color: #999;
}
#shop-info .extra-info .other {
    margin: 10px 0;
    overflow: hidden;
}
#shop-info .extra-info .other a {
    width: 69px;
    height: 26px;
    line-height: 26px;
    text-align: center;
}
#shop-info .extra-info .other .enter-shop {
    float: left;
    margin-left: 10px;
    vertical-align: top;
    width: 81px;
    height: 28px;
    border: 1px solid #e5e5e5;
    padding: 0 0 0 17px;
    color: #404040;
    position: relative;
    background-color: #f2f2f2;
}
#shop-info .extra-info .other .enter-shop i {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 6px;
    left: 16px;
    background: 0 0;
    font-style: normal;
}
#shop-info .extra-info .other .enter-shop i:before {
    content: url("../styleImages/sellerGoShop.png");
    font-size: 16px;
    font-family: tm-shop-font;
    position: absolute;
    left: -2px;
    top: -3px;

}
#shop-info .extra-info .other a {
    width: 69px;
    height: 26px;
    line-height: 26px;
    text-align: center;
}
#shop-info .extra-info .other .collection {
    color: #fff;
    float: right;
    margin: 0 10px 0 0;
    vertical-align: top;
    width: 81px;
    height: 28px;
    border: 1px solid #FDA82B;
    padding: 0 0 0 17px;
    background-color: #FDA82B;
    position: relative;
    cursor: pointer;
}
#shop-info .extra-info .other .collection i {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 6px;
    left: 16px;
    background: 0 0;
    font-style: normal;
}
#shop-info .extra-info .other .collection i:before {
    content: url("../styleImages/sellerStar.png");
    font-size: 16px;
    font-family: tm-shop-font;
    position: absolute;
    left: -2px;
    top: -4px;
}
.shopwt {
    float: left;
    width: 54px;
    border-left: 1px solid #f0f0f0;
    padding: 0 10px;
    margin: 15px 0 0;
    position: relative;
}
.shopwt .shopwt-desc {
    float: left;
    width: 50px;
}
.shopwt .shopwt-desc .shopwt-title {
    text-align: center;
    color: #999;
    font-weight: 400;
}
.shopwt .shopwt-desc .shopwt-qr {
    font-style: normal;
    font-size: 24px;
    background-image: url("../styleImages/sellerTwoDimensionCode.jpg");
    background-repeat: no-repeat;
    display: block;
    width: 24px;
    height: 24px;
    margin: 0 auto;
    color: #999;
    position: absolute;
    top: 18px;
    left: 14px;
}
.shopwt .slogo-triangle {
    position: absolute;
    top: 12px;
    left: 18px;
    display: block;
    _display: inline;
    margin: 0 0 0 14px;
    width: 6px;
    height: 38px;
    position: relative;
}
.shopwt .slogo-triangle .icon-triangle {
    border-color: #ccc #fff #fff;
    border-style: solid;
    border-width: 4px;
    font-size: 0;
    width: 0;
    height: 0;
    line-height: 0;
    position: absolute;
    right: 0;
    top: 15px;
}
.tm-qrcode-hpic {
    position: absolute;
    left: -1px;
    top: 51px;
    z-index: 9999;
    height: 178px;
    width: 160px;
    overflow: hidden;
    border: 1px solid #e4e4e4;
    background: #fff;
    display: none;
}
.tm-qrcode-hpic img {
    margin: 10px 10px 0;
}
.tm-qrcode-hpic p {
    width: 160px;
    text-align: center;
    color: #9E958C;
}

/*搜索*/
.header-extra {
    overflow: hidden;
}
#cowSearch {
    float: right;
    padding-top: 25px;
    width: 390px;
    overflow: hidden;
}
#cowSearch {
    width: 540px!important;
}
#cowSearch .cowSearch-form {
    border: 0;
}
#cowSearch .cowfieldset {
    position: relative;
}
#cowSearch .cowSearch-form .cowSearch-input {
    height: 36px;
}
#cowSearch .defaultSearch {
    border: solid #FDA82B;
    border-width: 3px 0 3px 3px;
    width: 305px;
    height: 30px;
    overflow: hidden;
    position: relative;
}
#cowSearch .defaultSearch {
    width: 455px;
}
#cowSearch .s-combobox {
    height: 30px;
}
.s-combobox {
    float: left;
    height: 34px;
    font-size: 12px;
}
.s-combobox .s-combobox-input-wrap {
    _float: left;
    position: relative;
    height: 30px;
    vertical-align: middle;
}
#cowSearch #mq {
    color: #000;
    margin: 0;
    position: relative;
    z-index: 2;
    width: 289px;
    height: 20px;
    line-height: 20px;
    padding: 5px 3px 5px 5px;
    outline: 0;
    border: 0;
    font-weight: 900;
    _height: 18px;
    _line-height: 18px;
}
#cowSearch #mq {
    width: 217px;
    background: 0 0;
}
#cowSearch #mq {
    width: 367px!important;
    padding: 5px 3px 5px 5px;
}
#cowSearch label, #tcowSearch label {
    max-width: 90%;
    overflow: hidden;
    white-space: nowrap;
}
#cowSearch button {
    position: absolute;
    right: 0;
    _right: -1px;
    top: 0;
    width: 80px;
    height: 30px;
    border: 0;
    font-size: 16px;
    letter-spacing: 0;
    cursor: pointer;
    color: #fff;
    background-color: #FDA82B;
    overflow: hidden;
    font-family: '\5FAE\8F6F\96C5\9ED1',arial,"\5b8b\4f53";
}
#cowSearch button {
    position: absolute;
    right: 0;
    _right: -1px;
    top: 0;
    width: 80px;
    height: 30px;
    border: 0;
    font-size: 16px;
    letter-spacing: 0;
    cursor: pointer;
    color: #fff;
    background-color: #FDA82B;
    overflow: hidden;
    font-family: '\5FAE\8F6F\96C5\9ED1',arial,"\5b8b\4f53";
}

#cowSearch button, #tcowSearch button {
    position: absolute;
    z-index: 1;
}
#cowSearch .currShopBtn {
    left: auto;
    right: 0;
    top: 0;
    background: #333;
    width: 80px;
    height: 36px;
}

/*热门搜索*/
.s-hot-query {
    padding: 3px 0 0;
    margin-left: -13px;
    height: 16px;
    overflow: hidden;
    width: 100%;
}
.s-hot-query li {
    display: inline-block;
    border-left: 1px solid #ccc;
    line-height: 1.1;
    padding: 0 12px;
}
.s-hot-query li a {
    color: #999;
}