<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.food.out.dao.OrderDetailDao" >
  <resultMap id="BaseResultMap" type="com.food.out.model.OrderDetail" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="order_num" property="orderNum" jdbcType="VARCHAR" />
    <result column="item_id" property="itemId" jdbcType="INTEGER" />
    <result column="item_count" property="itemCount" jdbcType="INTEGER" />
    <result column="item_price" property="itemPrice" jdbcType="DECIMAL" />
    
    <result column="item_name" property="itemName" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, order_num, item_id, item_count, item_price
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from orderform_detail
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from orderform_detail
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.food.out.model.OrderDetail" >
    insert into orderform_detail (id, order_num, item_id, 
      item_count, item_price)
    values (#{id,jdbcType=INTEGER}, #{orderNum,jdbcType=VARCHAR}, #{itemId,jdbcType=INTEGER}, 
      #{itemCount,jdbcType=INTEGER}, #{itemPrice,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.food.out.model.OrderDetail" >
    insert into orderform_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orderNum != null" >
        order_num,
      </if>
      <if test="itemId != null" >
        item_id,
      </if>
      <if test="itemCount != null" >
        item_count,
      </if>
      <if test="itemPrice != null" >
        item_price,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="orderNum != null" >
        #{orderNum,jdbcType=VARCHAR},
      </if>
      <if test="itemId != null" >
        #{itemId,jdbcType=INTEGER},
      </if>
      <if test="itemCount != null" >
        #{itemCount,jdbcType=INTEGER},
      </if>
      <if test="itemPrice != null" >
        #{itemPrice,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.food.out.model.OrderDetail" >
    update orderform_detail
    <set >
      <if test="orderNum != null" >
        order_num = #{orderNum,jdbcType=VARCHAR},
      </if>
      <if test="itemId != null" >
        item_id = #{itemId,jdbcType=INTEGER},
      </if>
      <if test="itemCount != null" >
        item_count = #{itemCount,jdbcType=INTEGER},
      </if>
      <if test="itemPrice != null" >
        item_price = #{itemPrice,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.food.out.model.OrderDetail" >
    update orderform_detail
    set order_num = #{orderNum,jdbcType=VARCHAR},
      item_id = #{itemId,jdbcType=INTEGER},
      item_count = #{itemCount,jdbcType=INTEGER},
      item_price = #{itemPrice,jdbcType=DECIMAL}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
    <select id="findDetailsByOrderId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    d.item_count,  d.item_count, i.item_price ,i.item_name 
    from orderform_detail d 
    	left join orderform o on o.order_num = d.order_num 
    	left join item i on i.id = d.item_id
    where o.id = #{id,jdbcType=INTEGER}
  </select>
</mapper>