@charset "utf-8";


/*浮动客服*/
#floatDivBoxs{width:170px;background:#fff;position:fixed;top:81px;right:-175px;z-index:999;}
#floatDivBoxs .floatDtt{width:100%;height:45px;line-height:45px; background:#F5F5F5;font-size:18px;text-indent:22px;position:relative;opacity: 0.5;}
#floatDivBoxs .floatDqq{padding:0 14px;}
#floatDivBoxs .floatDqq li{height:45px;line-height:45px;font-size:14px;border-bottom:1px solid #e3e3e3; padding:0 0 0 50px;}
#floatDivBoxs .floatDqq li a{color:#666;text-decoration:none;outline:none;}
#floatDivBoxs .floatDqq li a:hover{color:#e8431f;}
#floatDivBoxs .floatDtxt{font-size:18px;color:#333;padding:12px 14px;}
#floatDivBoxs .floatDtel{padding:0 0 15px 10px;}
#floatDivBoxs .floatDtel img{display:block;}
#floatDivBoxs .floatDbg{width:100%;height:20px;background:url(../images/online_botbg.jpg) no-repeat;box-shadow:-2px 0 3px rgba(0,0,0,0.25);}
.floatShadow{ background:#fff;box-shadow:-2px 0 3px rgba(0,0,0,0.25);}
#rightArrow{width:30px;height:45px;background:url(../images/online_arrow.jpg) no-repeat;position:fixed;top:81px;right:0px;z-index:999;background-position:-60px 0;}
#rightArrow a{display:block;height:45px;}