@charset "utf-8";
html{
    min-width: 1190px;
}
body{
    min-width: 1190px;
    font:12px/1.5 tahoma,arial,"\5b8b\4f53";
    -webkit-font-smoothing: antialiased;
}
.banner{
	position: relative;
	left: 0;
	top: 0px;
	width: 100%;
	height: 346px;
}
.sidebar01{
	height: 346px;
	z-index: 999;
	position: absolute;
	top: 211px;
}
.sidebar02{
	height: 346px;
	z-index: 999;
	position: absolute;
	top: 171px;
}
@media screen and (-webkit-min-device-pixel-ratio:0) { 
	.sidebar01{
		top:211px;
	}
	.sidebar02{
		top: 171px;
	}
}
.sidebar-left{
	width: auto;
	height: 346px;
}
.sidebar-left-menu{
	width: 225px;
	background-color: rgba(65,65,66,0.6);
	min-height: 333px;
	height:auto;
	padding-top: 0px;
	padding-bottom: 0px;
}
.sidebar-left-menu ul{
    height: 345.52px;
	overflow: hidden;
}
.sidebar-left-menu ul li{
	height: 43.2px;
	width: 210px;
	background-image: url("../images/bg/sidebar_bg.png");
	background-repeat: no-repeat;
	background-position:200px center;
	color: #fffefe;
	font-size: 14px;
	line-height: 43px;
	padding-left: 15px;
	margin-bottom: 0px;
	text-indent: 1.25em;
	cursor: pointer;
	font-family: "Microsoft YaHei",SimSun,'\5b8b\4f53',sans-serif;
}
.sidebar-left-menu ul li:hover, .sidebar-left-menu ul li.active{
	color:#ffa906;
	background-color: #fff;
	background-image: url("../images/bg/sidebar_h_bg.jpg");
}
.sidebar-left-menu ul li .icon-menu-01{
	width: 22px;
	height: 23px;
	float: left;
	background-image: url("../images/icon/menu_icon_01.png");
	left: 0px;
	top: 11px;
	position: relative;
	background-repeat: no-repeat;
}
.sidebar-left-menu ul li:hover .icon-menu-01, .sidebar-left-menu ul li.active .icon-menu-01{
	background-image: url("../images/icon/menu_icon_h_01.png");
}
.sidebar-left-menu ul li .icon-menu-02{
	width: 22px;
	height: 20px;
	float: left;
	background-image: url("../images/icon/menu_icon_02.png");
	top: 13px;
	position: relative;
}
.sidebar-left-menu ul li:hover .icon-menu-02, .sidebar-left-menu ul li.active .icon-menu-02{
	background-image: url("../images/icon/menu_icon_h_02.png");
}
.sidebar-left-menu ul li .icon-menu-03{
	width: 22px;
	height: 22px;
	float: left;
	background-image: url("../images/icon/menu_icon_03.png");
	left: 0px;
	top: 12px;
	position: relative;
	background-repeat: no-repeat;
}
.sidebar-left-menu ul li:hover .icon-menu-03, .sidebar-left-menu ul li.active .icon-menu-03{
	background-image: url("../images/icon/menu_icon_h_03.png");
}
.sidebar-left-menu ul li .icon-menu-04{
	width: 22px;
	height: 21px;
	float: left;
	background-image: url("../images/icon/menu_icon_04.png");
	left: 0px;
	top: 14px;
	position: relative;
	background-repeat: no-repeat;
}
.sidebar-left-menu ul li:hover .icon-menu-04, .sidebar-left-menu ul li.active .icon-menu-04{
	background-image: url("../images/icon/menu_icon_h_04.png");
}
.sidebar-left-menu ul li .icon-menu-05{
	width: 22px;
	height: 25px;
	float: left;
	background-image: url("../images/icon/menu_icon_05.png");
	left: 0px;
	top: 10px;
	position: relative;
	background-repeat: no-repeat;
}
.sidebar-left-menu ul li:hover .icon-menu-05, .sidebar-left-menu ul li.active .icon-menu-05{
	background-image: url("../images/icon/menu_icon_h_05.png");
}
.sidebar-left-menu ul li .icon-menu-06{
	width: 22px;
	height: 25px;
	float: left;
	background-image: url("../images/icon/menu_icon_06.png");
	left: 0px;
	top: 12px;
	position: relative;
	background-repeat: no-repeat;
}
.sidebar-left-menu ul li:hover .icon-menu-06, .sidebar-left-menu ul li.active .icon-menu-06{
	background-image: url("../images/icon/menu_icon_h_06.png");
}
.sidebar-left-menu ul li .icon-menu-07{
	width: 22px;
	height: 23px;
	float: left;
	background-image: url("../images/icon/menu_icon_07.png");
	left: 0px;
	top: 12px;
	position: relative;
	background-repeat: no-repeat;
}
.sidebar-left-menu ul li:hover .icon-menu-07, .sidebar-left-menu ul li.active .icon-menu-07{
	background-image: url("../images/icon/menu_icon_h_07.png");
}
.sidebar-left-menu ul li .icon-menu-08{
	width: 22px;
	height: 20px;
	float: left;
	background-image: url("../images/icon/menu_icon_08.png");
	left:0px;
	top: 11px;
	position: relative;
	background-repeat: no-repeat;
}
.sidebar-left-menu ul li:hover .icon-menu-08, .sidebar-left-menu ul li.active .icon-menu-08{
	background-image: url("../images/icon/menu_icon_h_08.png");
}
.sidebar-left-menu ul li .icon-menu-09{
	width: 20px;
	height: 17px;
	float: left;
	background-image: url("../images/icon/menu_icon_09.png");
	left: 0px;
	top: 12px;
	position: relative;
	background-repeat: no-repeat;
}
.sidebar-left-menu ul li:hover .icon-menu-09, .sidebar-left-menu ul li.active .icon-menu-09{
	background-image: url("../images/icon/menu_icon_h_09.png");
}
.sidebar-left-sub{
	height: auto;
	overflow: hidden;
}
.sub-box{
	width: 333px;
	min-height: 324px;
	height:auto;
	border: 1px solid #e6e6e6;
	background-image: url("../images/bg/opacity9.png");
	padding: 10px 20px;
	background-repeat: repeat;
	display: none;
}
.sub-box .sub-b-tit{
	color: #414141;
	font-size: 14px;
	border-bottom: 1px solid #414141;
	padding-bottom: 5px;
	font-weight: 700;
}
.sub-box .sub-b-list
{
	margin-top: 5px;
	height: auto;
	padding-bottom:10px;
	font-size: 12px;
	color: #8b8b8b;
}
.sub-box .sub-b-list a{
	display: inline-block;
	font-size: 12px;
	color: #8b8b8b;
	line-height: 24px;
}
.sidebar-right{
	width: 197px;
	height: 386px;
	background-image: url("../images/bg/opacity9.png");
	background-repeat: repeat;
	opacity: 0.9;
}
.side-news{
	height: 295px;
}
.side-news-tit{
	padding-left: 15px;
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #FFA906;
	font-size: 16px;
	color: #656565;
}
.side-news-list{
	height: 345px;
	overflow: hidden;
}
.side-news-list a{
	color: #000;
	font-size: 12px;
	font-family: "宋体";
	line-height: 22px;
}
.side-news-list a:hover{
	text-decoration: underline;
}
.side-news-list ul li{
	padding: 5px 15px 5px 20px;
	border-bottom: 1px dashed #c1c1c1;
	background-image: url("../images/icon/lidot.jpg");
	background-repeat: no-repeat;
	background-position: 15px 15px;
}
.fast-show{
	height: 131px;
	width: 197px
}
.fast-show ul{
	height: auto;
	overflow: hidden;
}
.fast-show ul li{
	float: left;
}
.fast-show ul li a{
	display: block;
	width: 98px;
	height: 65px;
}
.fast-show ul li.fast-s-01{
	width: 98px;
	height: 65px;
	background-image: url("../images/bg/fast_link_01.jpg");
	border-right: 1px solid #848484;
	border-bottom: 1px solid #848484;
}
/*.fast-show ul li.fast-s-01:hover{
	background-image: url("../images/bg/fast_link_h_01.jpg");
}*/
.fast-show ul li.fast-s-02{
	width: 98px;
	height: 65px;
	background-image: url("../images/bg/fast_link_02.jpg");
	border-bottom: 1px solid #848484;
}
/*.fast-show ul li.fast-s-02:hover{
	background-image: url("../images/bg/fast_link_h_02.jpg");
}*/
.fast-show ul li.fast-s-03{
	width: 98px;
	height: 65px;
	background-image: url("../images/bg/fast_link_03.jpg");
	border-right: 1px solid #848484;
}
/*.fast-show ul li.fast-s-03:hover{
	background-image: url("../images/bg/fast_link_h_03.jpg");
}*/
.fast-show ul li.fast-s-04{
	width: 98px;
	height: 65px;
	background-image: url("../images/bg/fast_link_04.jpg");
}
/*.fast-show ul li.fast-s-04:hover{
	background-image: url("../images/bg/fast_link_h_04.jpg");
}*/
.graybg{
	width: 100%;
	height: auto;
	background-color: #f8f8f8;
	padding-bottom: 0px;
}
.gold-adv-bg{
	border-bottom:1px solid #eee;
	background-color: #fff;
	padding-bottom: 20px;
	width: 100%;
}

.gold-provider
{
	padding-top: 30px;
	height: auto;
	overflow: hidden;
}
.gold-tit
{
	font-size: 18px;
	color: #333333;
	padding-left:15px;
	font-weight: 400;
	font-family:"Microsoft YaHei",SimSun,'\5b8b\4f53',sans-serif; 
}
.gold-tit span{
	font-size:14px;
}
.gold-list{
	height: auto;
	overflow: hidden;
}
.gold-img{
	width: 335px;
}
.gold-list ul.bigimg{
	height: auto;
	overflow: hidden;
	width: 855px;
}
.gold-list ul.bigimg li{
	float: left;
	/*margin-left: -1px;*/
}
.gold-list ul.bigimg li a{
	width: 169px;
	height: 99px;
	border: 1px solid #eee;
	border-bottom: 1px solid #eee;
	display: block;
	overflow: hidden;
	position: relative;
	
}
.gold-list ul.bigimg li.noline{
	border-bottom: 0;
}
.gold-list ul.bigimg li:last-child{
	border-right: 0;
}
.gold-list ul.bigimg li img{
	width: 169px;
	height: 99px;
	transition:All 0.4s ease-in-out;
    -webkit-transition:All 0.4s ease-in-out;    
    -moz-transition:All 0.4s ease-in-out;    
    -o-transition:All 0.4s ease-in-out;
}
.gold-list ul.bigimg li:hover img{
	 transform:scale(1.2);    
	 -webkit-transform:scale(1.2);    
	 -moz-transform:scale(1.2);    
	 -o-transform:scale(1.2);    
	 -ms-transform:scale(1.2);

}
.gold-list ul.bigimg{
	height: auto;
	overflow: hidden;
	float: right;

}
.gold-list ul.smallimg li{
	width: 169px;
	height: 100px;
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
	float: left;
}
.gold-list ul.smallimg li:last-child{
	border-right: 0;
}
.gold-list ul.smallimg li img{
	width: 169px;
	height: 100px;
}

.adv{
/*	margin: 70px auto 18px;*/
	margin-top: 20px;
	height: auto;
	overflow: hidden;
}
.adv a{
	display: block;
	float: left;
	margin-right: 2px;
}
.adv a:last-child{
	margin-right: 0;
}


.bottom-container{
	padding-top: 30px
}
/*---------------*/
/**** 爆品推荐 ****/
/*---------------*/

.hot-recommend{
/*	width:100%;
	padding-top: 30px;*/
	margin-left: auto;
	margin-right: auto;
}
.hot-recommend-container{
/*	padding-left: 50px;
	padding-right: 50px;*/
	padding: 0 10px;
	overflow: hidden;
}

.grid {
	/*position: relative;
	margin: 0 auto;
	padding: 1em 0 4em;
	max-width: 1000px;
	list-style: none;
	text-align: center;*/
/*	width: 33.3%;*/
	float:left;
	padding:0 25px;
}

/* Common style */
.grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	/*margin: 10px 1%;*/
	min-width: 340px;
	max-width: 340px;
	max-height: 255px;
	width: 48%;
	background: #3085a3;
	text-align: center;
	cursor: pointer;
    margin-left: 0px;
    margin-right: 0px;

}

.grid figure img {
	position: relative;
	display: block;
	min-height: 255px;
	max-width: 340px;
	opacity: 0.8;
}

.grid figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
}

.grid figure h2 span {
	font-weight: 800;
	font-size: 26px;
}

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: 1px;
	/*font-size: 68.5%;*/
	padding-top: 4px;
	padding-right: 20px;
}



/*---------------*/
/***** Zoe *****/
/*---------------*/

figure.effect-zoe figcaption {
	top: auto;
	bottom: 0;
	padding: 0.5em;
	height: 3.75em;
	background: #fff;
	color: #3c4a50;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
}

figure.effect-zoe h2 {
	float: left;
}

figure.effect-zoe p.icon-links a {
	float: right;
	color: #3c4a50;
	font-size: 1.4em;
}

figure.effect-zoe:hover p.icon-links a:hover,
figure.effect-zoe:hover p.icon-links a:focus {
	color: #252d31;
}

figure.effect-zoe p.description {
	position: absolute;
	bottom: 2.8em;
	/*padding: 2em;*/
	color: #fff;
	text-transform: none;
	font-size: 30px;
	opacity: 1;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
	-webkit-backface-visibility: hidden; /* Fix for Chrome 37.0.2062.120 (Mac) */
	width: 94%;
}

figure.effect-zoe h2,
figure.effect-zoe p.icon-links a {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,200%,0);
	transform: translate3d(0,200%,0);
}

figure.effect-zoe p.icon-links a span::before {
	display: inline-block;
	padding: 8px 10px;
	font-family: 'feathericons';
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-eye::before {
	content: '\e000';
}

.icon-paper-clip::before {
	content: '\e001';
}

.icon-heart::before {
	content: '\e024';
}

figure.effect-zoe h2 {
	display: inline-block;
	padding-top:8px;
	padding-left: 6px;
}

figure.effect-zoe:hover p.description {
	opacity: 1;
}

figure.effect-zoe:hover figcaption,
figure.effect-zoe:hover h2,
figure.effect-zoe:hover p.icon-links a {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-zoe:hover h2 {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

figure.effect-zoe:hover p.icon-links a:nth-child(3) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

figure.effect-zoe:hover p.icon-links a:nth-child(2) {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}

figure.effect-zoe:hover p.icon-links a:first-child {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}


.pp-list{
	height: auto;
	overflow: hidden;
	/*padding-left: 38px;*/
	margin-top: 15px;
}
.pp-img{
	width: 335px;
}
.pp-list ul.bigimg{
	height: auto;
	overflow: hidden;
/*	width: 855px;*/
}
.pp-list ul.bigimg li{
	float: left;
	/*margin-left: -1px;*/
}
.pp-list ul.bigimg li a{
	width: 117.9px;
	height: 69px;
/*	border: 1px solid #eee;
	border-bottom: 1px solid #eee;*/
	border-bottom: 1px solid #eee;
	border-right: 1px solid #eee;
	display: block;
	overflow: hidden;
	position: relative;
	
}
.pp-list ul.bigimg li.noline{
	border-bottom: 0;
}
.pp-list ul.bigimg li:last-child{
	border-right: 0;
}
.pp-list ul.bigimg li img{
	width: 118px;
	height: 69px;
}
.pp-list ul.bigimg{
	height: auto;
	overflow: hidden;
/*	float: right;*/

}
.pp-list ul.smallimg li{
	width: 169px;
	height: 100px;
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
	float: left;
}
.pp-list ul.smallimg li:last-child{
	border-right: 0;
}
.pp-list ul.smallimg li img{
	width: 169px;
	height: 100px;
}







.service{
	width: 1190px;
	height: 554px;
	overflow: hidden;
	background-image: url("../images/bg/indexservicebg.jpg");
	margin-top: 40px;
}
.service-item{
	width: 888px;
	height: auto;
	overflow: hidden;
	margin: 54px 0 0 268px;
}
.service-item ul{
	height: auto;
	overflow: hidden;
}
.service-item ul li{
	margin-left: 78px;
	float: left;
	margin-bottom: 34px;
}
.service-item ul li a{
	display: block;
}
.service-item ul li a img{
	display: block;
}
.service-item ul li a span{
	display: block;
	width: 218px;
	height: 31px;
	border-top: 1px solid #475564;
	background-color: #4f5f6f;
	color: #fff;
	font-size: 18px;
	text-align: center;
	line-height: 31px;
}
.service-pic{
	margin-top: 16px;
}
.recommend{
	height: auto;
	overflow: hidden;
	padding-top: 3px;
}
.recommend .rec-tit{
	font-size: 16px;
	color:#000;
	line-height: 20px;
	position: relative;
}
.recommend .rec-tit .icon-star{
	width: 21px;
	height: 20px;
	float: left;
	background-image: url("../images/icon/sec_icon.jpg");
	top: -2px;
	margin-right: 5px;
	position: relative;
}
.rec-list{
	margin-top: 16px;
	height: auto;
	overflow: hidden;
}
.rec-list-tit{
	width: 208px;
	height: 227px;
	padding-left: 32px;
	padding-top: 35px;
	background-color: #333;
}
.rec-list-tit .des-txt{
	display: inline-block;
	border-top: 1px solid #fff;
	margin-top: 15px;
	padding-top: 15px;
	width: 170px;
	color: #fff;
	font-size: 12px;
	font-family: "宋体";
	line-height: 18px;
}
.rec-list ul{
	height: auto;
	overflow: hidden;
}
.rec-list ul li{
	width: 230px;
	height: 260px;
	float: left;
	border: 1px solid #eee;
	margin-left: 5px;
	cursor: pointer;
}
.rec-list ul li.red-bg-01{
	background-image: url("../images/bg/red_01.jpg");
}
.rec-list ul li.red-bg-02{
	background-image: url("../images/bg/red_02.jpg");
}
.rec-list ul li.red-bg-03{
	background-image: url("../images/bg/red_03.jpg");
}
.rec-list ul li.red-bg-04{
	background-image: url("../images/bg/red_04.jpg");
}
.hide{
	display: none;
}
.red-show{
	width: 230px;
	height: 260px;
	background-color: #fff;
}
.red-show img{
	display: block;
}
.red-show span{
	display: block;
	text-align: center;
}
.red-show span.red-show-tit{
	font-size: 18px;
	color: #000000;
	padding: 10px 0 5px;
	font-weight: bold;
}
.red-show span.red-show-des{	
	font-size: 12px;
	font-family: "宋体";
	line-height: 16px;
}
.red-show span.red-show-price{
	margin-top: 10px;
	font-size: 18px;
}
.red-show span.red-show-price b{
	font-size: 30px;
	font-weight: normal;
}
.red-show span.red-show-link{
	width: 92px;
	height: 33px;
	background-color: #ffa906;
	border-radius: 2px;
	margin: 5px auto 0;
}
.red-show span.red-show-link a{
	display: block;
	width: 92px;
	height: 33px;
	line-height: 33px;
	color: #fff;
	font-size: 12px;
	font-family: "宋体";
}
.sort{
	margin-top: 60px;
	height: auto;
}
.sort-tit{
	height: auto;
	color:#000;
	line-height: 20px;
	position: relative;
}
.sort-list{
	margin-top: 10px;
	height: auto;
	overflow: hidden;
}
.sort-list a{
	display: block;
	float: left;
	margin-right: 32px;
	width: 210px;
	height: 300px;
	background-color: #fff;
	text-align: center;
	border: 1px solid #ddd;
	background-color: #faf7ec;
	border-radius: 5px;
}
.sort-list a:hover{
	background-color: #fff;
}
.sort-list a:last-child{
	margin-right: 0;
}
.sort-list a img{
	display: block;
	height: 100px;
	width: 100px;
	margin: 50px auto;
}
.sort-list .icon{
	display: block;
	margin: 68px auto;
}
.sort-list .icon-sort-01{
	width: 79px;
	height: 72px;
	background-image: url("../images/bg/mc01.png");
}
.sort-list a:hover .icon-sort-01{
	background-image: url("../images/bg/mc_hover_01.png");
}
.sort-list .icon-sort-02{
	width: 96px;
	height: 72px;
	background-image: url("../images/bg/mc02.png");
}
.sort-list a:hover .icon-sort-02{
	background-image: url("../images/bg/mc_hover_02.png");
}
.sort-list .icon-sort-03{
	width: 102px;
	height: 72px;
	background-image: url("../images/bg/mc03.png");
}
.sort-list a:hover .icon-sort-03{
	background-image: url("../images/bg/mc_hover_03.png");
}
.sort-list .icon-sort-04{
	width: 96px;
	height: 72px;
	background-image: url("../images/bg/mc04.png");
}
.sort-list a:hover .icon-sort-04{
	background-image: url("../images/bg/mc_hover_04.png");
}
.sort-list .icon-sort-05{
	width: 96px;
	height: 72px;
	background-image: url("../images/bg/mc05.png");
}
.sort-list a:hover .icon-sort-05{
	background-image: url("../images/bg/mc_hover_05.png");
}
.sort-list a b{
	font-size: 18px;
	color: #565656;
	font-weight: normal;
}
.sort-list a p{
	padding-top: 5px;
	color: #666;
	font-size: 18px;
}
.gotop{
	position: fixed;
	bottom: 50px;
	z-index: 99999;
	cursor: pointer;
	display: none;
	right: 0;
}