@charset "utf-8";
/* flexslider */
.flexslider{position:relative;height:346px;overflow:hidden;background:url(../images/icon/loading.gif) 50% no-repeat;}
.slides{position:relative;z-index:1; height: auto; overflow: hidden;}
.slides li{height:346px;}
.slides li a{display: block; height: 346px;}
.flex-control-nav{position:absolute;bottom:20px;z-index:2;width:100%;text-align:center;}
.flex-control-nav li{display:inline-block;width:19px;height:19px;margin:0 5px;*display:inline;zoom:1;}
.flex-control-nav a{display:inline-block;width:19px;height:19px;line-height:40px;overflow:hidden;background:url(../images/icon/dot.png) right 0 no-repeat;cursor:pointer; color: transparent}
.flex-control-nav .flex-active{background-position:0 0;}

.flex-direction-nav{position:absolute;z-index:3;width:100%;top:45%; display: none;}
.flex-direction-nav li a{display:block;width:50px;height:50px;overflow:hidden;cursor:pointer;position:absolute;}
.flex-direction-nav li a.flex-prev{left:40px;background:url(../images/icon/prev.png) center center no-repeat;}
.flex-direction-nav li a.flex-next{right:40px;background:url(../images/icon/next.png) center center no-repeat;}